<div id="<%= dom_id event %>">
  <p>
    <h3><strong><%= event.title %></strong></h3>
    <h4>Posted by <%= post.user.name %> </h4>
  </p>

  <p>
    <strong>Body:</strong>
    <%= event.body %>
  </p>

  <p>
    <strong>Views:</strong>
    <%= event.views %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= event.location %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= event.date %>
  </p>

  <p>
    <strong>Views:</strong>
    <%= event.views %>
  </p>

</div>
